# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Deplyoment, distribution and build files
builds
distribution/vipm/*.vip
distribution/working/*
source/data/bin/*.*